/* General Styles */
body {
  background-color: #000!important;
  color: #e0e0e0;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 200px); /* Adjust height to account for cropping */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  overflow: hidden;
  text-align: center;
}

.video-container {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100vh + 100px); /* Extend height to cover the shifted area */
  overflow: hidden;
  z-index: -1;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw; /* Full viewport width */
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 200px; /* Adjust overlay position */
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  z-index: 0;
}

.volume-control {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  color: rgba(255, 255, 255, 0.7); /* Ghosted effect */
  cursor: pointer;
}

.volume-control:hover {
  color: rgba(255, 255, 255, 1); /* Full opacity on hover */
}

.hero-content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px;
}

.hero-content h1 {
  font-size: 2.5rem;
}

.hero-content p {
  font-size: 1.2rem;
  line-height: 150%;
  font-weight: 400;
  color: #fff;
}

.main-content {
  padding: 20px;
  background-color: #fff;
}



button {
  cursor: pointer;
}

section#hero {
  height: 80vh;
}

.main-content {
  padding: 20px;
  background-color: #fff;
}

.tm-navbar-row {
display: flex;
flex-direction: row;
width: 100%;
justify-content: space-between;
align-items: center;
padding: 10px 0px;
background-color: #131314;

}

.tm-navbar {
  background-color: #131314;
}


#tm-home {
  background-color: #000;
}
#tm-project-1, #tm-project-3 {
  background-color: #131314;
}


h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.75rem;
  margin-bottom: 30px!important;
  color: #fff;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.75rem;
  margin-bottom: 10px; 
  color: #fff;
}

ul, li {
  margin-bottom: 0px;
}

.tm-navbar-brand, .tm-navbar-nav {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 1.25rem;
  letter-spacing: -1px;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tm-navbar-brand:hover,
.tm-navbar .tm-nav-link:hover,
.tm-navbar .tm-icon-link:hover {
  color: #ffffff;
}

.tm-navbar-nav {
  gap: 20px;
}
/* #tm-work h2 {
  color: #9575cd;
}
#what h2 {
  color: #6dd58c;
}
#journey h2 {
  color: #7feaff;
} */
.icon-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: .875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  gap: 10px;
  color: #6dd58c;
}

.gallery-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: .75rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

.tm-navbar .tm-nav-link,
.tm-navbar .tm-icon-link {
  color: #ffffff;  
  font-size: 1.3rem;
}
#about-me {
  background-color: #1d1d1d;
}

.intro {
  font-size: .85rem;
  line-height: 150%;
}

#tm-home .container {
  justify-content: center;
  align-items: center;
}
.tm-impact-card {
  background-color: #131314;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;

  color: #cbcbcb;
  text-align: left;

}

.tm-impact-card p, .card-body {
  font-size: 1rem;
  letter-spacing: .25px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #dddddd;
  width: 100%;
}


/* Timeline Styles */
.tm-timeline {
  list-style-type: none;
  position: relative;
  display: flex;
    flex-direction: column;
}

.tm-timeline:before {
  content: ' ';
  background: #88888875;
  position: absolute;
  left: 29px;
  width: 2px;
height: 100%;
  z-index: 400;
}

#what.differences {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.tm-timeline > li {
  margin: 20px;
  line-height: 150%;
  font-weight: 400;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  color: #888888;
  font-size: 1rem;
  letter-spacing: .25px;

}
.tm-timeline li.present {
  color: #c4eed0;
}

.tm-timeline > li:before {
  content: "\f133";
  position: absolute;
  background-color: #1d1d1d;
  border-radius: 50%; 
  border-top: 4px solid #1d1d1d;
  border-bottom: 4px solid #1d1d1d;
  left: 21px;
  width: 26px;
  height: 30px;
  z-index: 400;
  margin-top: 2px;
  font-family: 'font awesome 6 free';
  font-size: 20px;
}
.tm-timeline > li {
  margin-right: 30px;
}
.tm-year {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  width: fit-content;
  padding: 6px;
  line-height: 100%;
  margin-bottom: 6px;
  color: #888888;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  gap: 10px;
  margin-top: 3px;
}

.tm-timeline li.present:before {
 color: #fff;
}
.tm-timeline li.present .tm-year  {
  color: #fff;
}

.tm-timeline li.present ul li, #tm-project-1 ul, #tm-project-2 ul   {
  color:#fff;
}

/* Footer Styles */
.tm-footer {
  border-top: 1px solid #2a2a3b;
  text-align: center;
  padding: 40px 0 20px;
  color: #cbcbcb;
}

.tm-footer hr {
  width: 100px;
  border-color: #c4aef7;
}

/* Section Styles */
section {
  padding: 60px 0;
}

a.contact {
  text-decoration: none;
  color: #c4aef7;
}




.tm-nav.nav-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  padding: 10px;
  line-height: 150%;
  text-decoration: none;
}

a.tm-nav-link{
  text-decoration: none;
  font-weight: 400;
}

img.tm-what-icon {
 width: 40px;
}

li.nav-item {
  list-style: none;
  border-radius: 10px 10px 0px 0px;
  flex: 1;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  background-color: #1c1c1c;
  color: #9b9b9b!important;
}
.nav-tabs {
  border: none!important;
  gap: 10px;
  margin-top: 30px!important;
  padding: 0px 40px;
  box-sizing: border-box;
}

.carousel-control-next, .carousel-control-prev {
  width: 3%!important;
}

.nav-tabs a.nav-link {
  color: #9b9b9b;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:  #151515!important;
  width: 100%;
  border:none;
  font-size: .875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  box-sizing: border-box;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color:  #000000!important;
  color: #9575cd!important;
  width: 100%;
  border:none;
  font-size: .875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

a.nav-link:hover {
  background-color:  #212131;
  border-color:  #c4aef74d!important;
}
#myTabContent {
  margin-top: 0px!important;
  padding:  30px;
  background-color:  #000000!important;
  border:none;
  border-radius: 10px;
  border-top: #1c1c1c 1px solid;
}




.tm-card {
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #151515!important;

  border-radius: 10px;
  height: 100%;
}

.tm-carousel-card {
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;
  gap: 30px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}


.tm-card.tm-impact-card {
  align-items: flex-start;
}


p {color: #b1b1b1;}


.tm-card-body {
  display: flex;
  flex-direction: column;
margin-bottom: auto;
  gap: 6px;
}

.tm-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}



/* Gallery Styles */
.tm-container-gallery {
  text-align: center;
  margin-top: 15px;
  display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}


p.tm-card-text {
  color: #9b9b9b;
  font-size: 1rem;
  margin-bottom: auto;
}
/* Modal Styles */
.tm-modal-dialog, .tm-modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.tm-modal-content {
  color: #d7e5fe;
  background-color: #1e1e2f !important;
  border: 1px solid #4b4b63 !important;
  border-radius: 10px;
}

.tm-btn-close {
  background-color: #fcf0f3 !important;
}

.tm-lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.tm-lightbox-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.tm-lightbox .tm-close {
  position: absolute;
  top: 30px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
}

.tm-lightbox .tm-close:hover,
.tm-lightbox .tm-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Container Adjustments */
.tm-container-fluid .tm-card-body {
  background-color: #2a2a3b;
}

.tm-hero-text {
  font-family: "Inter", sans-serif;
  font-size: 1.35rem;
  line-height: 160%;
  color: #cdced4;
  letter-spacing: 0.25px;
  margin-top: 20px;
}

/* Project Gallery Styles */
#tm-new-designs .tm-container-gallery, 
#tm-redesigns .tm-container-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
}

.tm-inforpro-gallery, .tm-video-gallery, .tm-cart-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tm-inforpro-gallery img.tm-portrait,
.tm-video-gallery img, .tm-cart-gallery img {
  margin: 10px;
  border: 2px solid #c4aef7;
  border-radius: 8px;
}

.tm-inforpro-gallery img.tm-portrait {
  width: 15%;
}

.tm-video-gallery img, .tm-cart-gallery img {
  width: 30%;
}

.carousel-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
  gap: 20px;
}
.carousel.container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

video {
  object-fit: cover; /* Cover the container area */
}

.tm-carousel-card {
  flex: 1;
  width: 100%!important;
}


/* Responsive Styles */
@media (max-width: 576px) {

  .carousel.col-md-4 {
    width: 100%!important;
  }

  .nav-tabs {
    padding: 0px;
    flex-direction: column;
  }

  #myTabContent {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  .row {
    margin: 0px!important;
  }

  .tm-section {
    padding: 30px 0px!important;
  }

  .img-fluid {
    margin-bottom: 20px;
    width: 250px;
  }

  .tm-column {
    gap: 20px;
  }

  .video-container {
    height: 60vh;
    }

  .hero {
    height: 60vh; /* Ensure the hero section takes the full viewport height */
  }

  .overlay {
    top: 0; /* Align overlay with the top of the video */
    height: 100%; /* Ensure overlay covers the entire hero section */
  }

  video {
    width: 100%; /* Full width */
    height: 60vh; /* Full height */
    object-fit: cover; /* Ensure the video covers the area without distortion */
  }

  .hero-content {
    padding: 10px; /* Reduce padding for mobile */
  }

  .hero-content h1 {
    font-size: 1.8rem; /* Adjust font size for mobile */
  }

  .hero-content p {
    font-size: 1rem; /* Adjust font size for mobile */
  }

  section#hero, .overlay {
    height: 60vh;
    padding: 0px!important;
  }

  ul, p {
    font-size: 1rem!important;
    line-height: 150%!important;
  }

  .carousel-control-next, .carousel-control-prev {
    z-index: 1000;
  }
  
}




i::before {
  font-family: "Font Awesome 6 Free";
}