
body
{
	background: #000000;
	color: #999;
    font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/* start all section */

#home .fp-slide,
#home .fp-tableCell,

/* #work,
#work .fp-slide,
#work .fp-tableCell, */

#about,
#about .fp-slide,
#about .fp-tableCell,

#contact,
#contact .fp-slide,
#contact .fp-tableCell,

#portfolio,
#portfolio .fp-slide,
#portfolio .fp-tableCell,

footer,
footer .fp-slide,
footer .fp-tableCell
{
    height: auto !important;
}

/* end all section */

/* start all heading */
h1,h2,h3,h4,h5
    {
        color: #ffffff;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 0px;
    }
/* end all heading */

/* start all section */
 #about, #portfolio,  #contact 
    {
        padding-top: 100px;
        padding-bottom: 120px;
    }
    #contact   {    
    padding-bottom: 30px;
    }

/* end all section */

/* start simpletextrotator */
.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%;
}

.rotating.flip {
  position: relative;
}

.rotating .front, .rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0,0,1px);
  -moz-transform: translate3d(0,0,1px);
  -ms-transform: translate3d(0,0,1px);
  -o-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;
  
  -webkit-transform: rotateY(180deg) translate3d(0,0,0);
  -moz-transform: rotateY(180deg) translate3d(0,0,0);
  -ms-transform: rotateY(180deg) translate3d(0,0,0);
  -o-transform: rotateY(180deg) translate3d(0,0,0);
  transform: rotateY(180deg) translate3d(0,0,0);
}

.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,0);
  -moz-transform: rotateX(180deg) translate3d(0,0,0);
  -ms-transform: rotateX(180deg) translate3d(0,0,0);
  -o-transform: rotateX(180deg) translate3d(0,0,0);
  transform: rotateX(180deg) translate3d(0,0,0);
}

.rotating.flip.cube .front {
  -webkit-transform: translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: translate3d(0,0,100px) scale(0.85,0.85);
  transform: translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube .back {
  -webkit-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}
/* end simpletextrotator */
#home {
  height: 500px!important;
  overflow: hidden;
}
/* start home */       
/* #home
	{
        background: url('../images/tm-hero-circle.png');
        background-size: 400px;
        background-repeat: no-repeat;
        padding-top: 50px;
        padding-bottom:50px;
        text-align: center;
        opacity: 0.6;
        background-position: right bottom;
	} */

 .tee-bg {
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  width: 550px;
 }


#home h1
    {
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }
#home .btn
    {
        background: transparent;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        width: 180px;
        height: 50px;
        margin-top: 0px;
        font-family: "Lato", sans-serif;
        letter-spacing: 1px;
        transition: all 0.4s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
    }

a.btn {
    text-decoration: none!important;
}

#home .btn:hover
    {
        background: #1a1a1a;
        border-color: transparent;
    }

    #work {
      background: #1a1a1a;
      height: auto!important;
      padding-top: 80px;
      padding-bottom: 80px;

    }
/* end home */

/* start work */
/* #work
    {
        padding: 80px 0px 80px 0px!important;
        box-sizing: border-box;
    } */
#work h2, #portfolio h2
    {
        text-align: center;
        
    } 

    .tm-sub-heading
    {
        text-align: left;
        color: #fff!important;
        letter-spacing: 3px; 
        font-family: "Inter", sans-serif;
        font-weight: 600 !important;
        line-height: 100%;
        margin-bottom: 20px;
    }


#work .media
    {
      margin-top: 30px;
    }
	
#work .media .fa
    {
        border: 2px solid #ffffff;
        border-radius: 50%;
        color: #f0ff46;
        font-size: 24px;
        margin-right: 24px;
        width: 60px;
        height: 60px;
        line-height: 55px;
        text-align: center;
        vertical-align: middle;
        transition: all 0.4s ease-in;
    }
#work .media .fa:hover
    {
        background: #ffffff;
        cursor: pointer;
    }
.media-heading
    {
        font-size: 20px;
        color: #fff!important;
        font-family: "Inter", sans-serif;
        font-weight: 400;     
        line-height: 100%;  
        margin-bottom: 0px!important;
    }

    .image-contain img {
        display: flex;
        width: 50px;
    }
    
/* end work */
#about {
    background-color: #1a1a1a;
}

#about .progress
    {
        border-radius: 4px;
        background: #a7a7a7;
        height: 4px;
        margin-bottom: 16px;
        margin-top: 16px;

        
    }


/* #about .progress .progress-bar-danger
    {
        background: #f0ff46;
    } */

.user
    {
        background: #3DD5F3!important;
        color: #1a1a1a!important;
    }

    .proto
    {
        background: #4DD4AC!important;
        color: #1a1a1a!important;
    }

    .design
    {
        background: #3D8BFD!important;
        color: #1a1a1a!important;
    }

    .code
    {
        background: #A370F7!important;
        color: #1a1a1a!important;
    }

#about span
    {
        color: #ffffff;
        font-weight: bold;
        display: block;
        padding-bottom: 6px;
    }
#about small
    {
        font-weight: bold;
        float: right;
    }

    .about-row  {
        margin-bottom: 30px;
        font-weight: 400;
    }
/* end about */

/* start portfolio */
#portfolio
    {
        background: #1a1a1a;
        text-align: center;
    }

#portfolio .portfolio-thumb
    {
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
    }
#portfolio .portfolio-thumb .portfolio-overlay
    {
        background: #f0ff46;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        padding-top: 60px;
        transition: all 0.4s ease-in-out;
    }
#portfolio .portfolio-thumb:hover .portfolio-overlay
    {
        cursor: pointer;
        opacity: 0.8;
        transform: scale(0.9);
    }
/* end portfolio */

/* start contact */

#contact address
    {
      padding-bottom: 18px;
    }
	
#contact .contact-title
    {
		font-size: 24px;
		font-weight: bold;
        padding-bottom: 20px;
		color: #ffffff;
    }
#contact .fa
    {
        border: 2px solid #ffffff;
        border-radius: 50%;
        color: #f0ff46;
        width: 50px;
        height: 50px;
        line-height: 45px;
        text-align: center;
        margin-right: 20px;
    }
#contact .form-control
    {
        background: transparent;
        border: 2px solid #999;
        border-radius: 0;
        box-shadow: none;
        color: #ffffff;
        margin-bottom: 20px;
    }
#contact input
    {
        height: 50px;
    }
#contact input[type="submit"]
    {
        background: #f0ff46;
        border: 2px solid transparent;
        color: #ffffff;
        font-weight: bold;
        transition: all 0.4s ease-in-out;
    }
#contact input[type="submit"]:hover
    {
        background: #ffffff;
        color: #f0ff46;
    }
/* end contact */

/* start footer */
footer
    {
        border-top: 1px solid #090909;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }
footer hr
    {
        width: 100px;
    }
/* end footer */

/* start social icon */
.social-icon
    {
        position: relative;
        padding: 0;
        margin: 0;
    }
.social-icon li
    {
        display: inline-block;
        list-style: none;
    }
.social-icon li a
    {
        border-radius: 50%;
        color: #606060;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        text-align: center;
        margin-right: 10px;
    }
.social-icon li a:hover
    {
        color: #f0ff46;
    }
/* end social icon */

.tm-hero-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing:border-box;
    gap: 24px;
    opacity: 100%!important;
    position: relative;
}

.grid-wrap {
  height: auto!important;
  align-items: flex-start!important;
  justify-content: flex-start!important;
}

h1.t-name.myName {
    color: #fff!important;
    letter-spacing: 3px; 
    font-weight: 600;
    font-family: "Lato", sans-serif;
}

h2.rotate  {
    color:#A370F7!important;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    letter-spacing: 3px; 
    font-size: 28px;
    text-align: left;
}

.tm-title{
    color: #f0ff46!important;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    letter-spacing: 1px; 
    font-size: 22px;
}

p.tm-p {
    color: #a7a7a7!important;
    font-size: 20px!important;
    letter-spacing: 1px; 
    text-align: left;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    margin-bottom: 0px!important;
}

p.tm-p-s {
    font-size: 17px!important; letter-spacing: 1px; 
    text-align: left;
    line-height: 160%;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    color: #bbbbbb!important;
}

.differences {
    margin-bottom: 30px;
}

p.tm-p-s-w {
    font-size: 16px!important; letter-spacing: 1px; 
    text-align: left;
    line-height: 160%;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    color: #fff!important;
    margin-bottom: 0px!important;
}

.tm-yellow {
   color: #f0ff46!important;
}
.tm-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns of equal width */
    gap: 10px; 
    width: 100%;
}

.tm-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}

.tm-row-s {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.tm-grid-item {
    text-align: center; /* Example text alignment */

  }

  .tm-grid-item-dark {
    background-color:transparent!important;
  }

  .tm-grid-item img {
    width: 100%!important;
  }

  .tm-outter-grid {
    width: 100%;
  }

  .modal-dialog {
    height: auto!important;
  }

  .modal-dialog {
   height: 60vw!important;
   height: auto!important;
  }


  .my-work-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 16px;
  }

  .my-skills-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 10px;
    width: 100%!important;
  }

  .about-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 20px;
  }

  .my-work-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: 10px;
    margin-bottom: 20px;
  }

  .highlight {
    color: #ffffff;
  }

  .section-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 30px;
  }

  .tm-header {
    background: #1a1a1a!important;
    padding: 10px 36px;
  }

  .nav-link:hover {
    color:#f0ff46!important;
  }

  .navbar-nav {
gap: 20px;
  }

  .tm-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .tm-col-sm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%!important;
  }

  .about-me.col-xs-11 {
    padding-bottom: 60px!important;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #about span {
    font-size: 17px!important; letter-spacing: 1px; 
    text-align: left;
    line-height: 160%;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    color: #fff!important;
    margin-bottom: 0px!important;
}

.media-heading.tm-yellow {
    font-size: 18px;
    margin-right: 20px;
}


@media (min-width: 768px) {
.modal-dialog {
    height: 70vw;
    width: auto!important;
    margin: 30px auto;
}
.modal-content {
    width: 100%;
    height: auto!important;
}

}

  @media only screen and (max-width: 999px) {
    
    .tm-grid {
        grid-template-columns: repeat(1, 1fr)!important;
    }
  }


  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  


  .tm-w-100 {
    width: 100%!important;
  }

  div.card {
    width: 100%!important;
}

.tm-card {
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    padding: 1.4em;
    border-radius: 6px;
    align-items: flex-start;
  }
  
  .tm-card-image {
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 6px 6px 0 0;
  }
  
  .tmcard-image:hover {
    transform: scale(0.98);
  }
  
  .tm-category {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    color: #f0ff46!important;
    padding: 10px 7px 0;
    text-decoration:none!important;
  }
  
  .tm-category:hover {
    cursor: pointer;
  }
  
  .tm-heading {
    font-weight: 600;
    color: #ffffff;
    padding: 7px;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 300!important;
    font-family: "Lato", sans-serif;
    color: #fff;
  }
  
  .tm-heading:hover {
    cursor: pointer;
  }
  
  .tm-author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .tm-name {
    font-weight: 600;
  }
  
  .tm-name:hover {
    cursor: pointer;
  }
/* General styling for the grid container */
.tm-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns in larger screens */
  gap: 20px;
}

/* Responsive grid adjustments */
@media (max-width: 1024px) {
  .tm-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns in medium screens */
  }
}

@media (max-width: 600px) {
  .tm-grid {
      grid-template-columns: 1fr; /* Single column layout on smaller screens */
  }
}

/* Card styling with conditional shadow */
.skill-card {
  display: flex;
  flex-direction: column;
  background: #1e1e1e; /* Slightly lighter dark background for cards */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for hover effects */
  border-radius: 5px;
  overflow: hidden;
  height: 100%; /* Ensures all cards stretch to the same height */
}


/* Content styling within cards */
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Makes the content fill the space */
  padding: 20px;
}

.my-skills-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.my-skills-row img {
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
}


.hover_content p {
  color: #bbb; /* Light gray text for readability */
  font-size: 14px;
  line-height: 1.6;
  flex-grow: 1; /* Allows paragraph to expand */
}


.card {
  background: #1a1a1a;
  border: 2px solid rgba(143, 143, 143, 0.322);
}

.card-body {
  gap: 10px!important;
}

.card .content {
  width: 100%;
  max-width: 100%;
}

.card .logo {
  margin: 0 0 1em;
  width: 10.625em;
  transition: all 0.35s ease;
}

.card .h6 {
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
}

/* Base setup */
.card {
  perspective: 1000px; /* Needed for the 3D flip effect */
}

.card-inner {
  position: relative;
  width: 100%; /* full width of the parent container */
  min-height: 300px; /* Minimum height to maintain the square look */
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Ensures that the flipped side is not visible when rotated */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  padding: 20px; /* Padding for internal content */
}

.card-front {
  background: #1e1e1e; /* Light background for the front card */
}

.card-back {
  background: #222222; /* Light grey background for the back card */
  transform: rotateY(180deg); /* Initial position for back card */
}

.card:hover .card-inner {
  transform: rotateY(180deg); /* Flip effect on hover */
}

/* Content styling */
.media-heading {
  font-size: 20px; /* Larger font size for headings */
  font-weight: 400;
  text-align: center;
  line-height: 160%;
}

.card-text {
  font-size: 16px; 
  font-weight: 400;
  color: #fff;/* Adequate font size for readability */
}
