footer {
  border-top: 1px solid #090909;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

footer hr {
  width: 100px;
}

/* end footer */





.navbar-nav {
  gap: 20px;
}






#work,
#what {
  height: auto !important;
  padding-top: 60px;
  padding-bottom: 60px;
}



body {
  background-color: #121212;
  /* Dark background */
  color: #e0e0e0;
  /* Light text for readability */
  font-family: "Inter", sans-serif;
  /* Ensuring a clean, readable font is used */
}



#work ul.nav {
  align-items: center;
}

/*-------------------------------
work section 
--------------------------------*/
#work {
  background-color: #0B1425;
}

#work .nav li.nav-item {
  flex: 1;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

#work .gallery {
  background-color: #1E0E1A;
}


.modal-dialog,
.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #D7E5FE;
  pointer-events: auto;
  background-color: #0B1425 !important;
  background-clip: padding-box !important;
  border: 1px solid #1E2D4C !important;
  border-radius: 10px;
  outline: 0;
}


.btn-close {
  background-color: #FCF0F3 !important;

}







.progress-bar {
  background-color: #B394F4;
}

.impact-card,
.card-body {
  flex: 1;
  height: 100%;
  padding: 10px;
}

.card {
  height: 100%;
  background-color: #171123;
  border-radius: 10px !important;
  color: #b0bec5;
  /* Light grey text for cards */
  padding: .75rem;
  border: #332749 3px solid;
}

.card.impact-card {
  border-radius: 10px !important;
  background-color: #24173d;
  /* Darker background for cards */
}

.progress {
  background-color: #514173;
}

.tm-header {
  background-color: #000000 !important;
}


#what {
  background-color: #171123;
}

#what,
#home,
#work {
  height: auto !important;
  padding: 60px 0px;
}

/*-------------------------------
home section 
--------------------------------*/

#home {
  background-color: #140b17;
}

#home h1 {
  font-family: "Inter Tight", sans-serif;
  font-weight: 700;
  color: #D6A8E7;
  margin-bottom: 0px;
}

#home h3 {
  font-family: "Inter Tight", sans-serif;
    font-weight: 700;
    margin-top: 20px;
}

#home p, .light-small {
  font-size: 1rem;
  /* Adjusting font size for readability */
  color: #Ffffff;
  /* Bright white for passion text */
  font-family: "Inter", sans-serif;
  margin-bottom: 8px;
  font-weight: 400;
}

#work .light-small {
  color: #D0E7FB;
  font-size: .98rem;
  line-height: 140%;
  letter-spacing: .25px;
  font-weight: 300;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #5D3D69;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline>li {
  margin: 20px 0;
  padding-left: 20px;
  font-size: 1.1rem;
  line-height: 150%;
  font-weight: 400;
  /* Bright white for passion text */
  font-family: "Inter", sans-serif;
  
}

.year {
  font-family: "Inter Tight", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 4px;
  width: fit-content;
  color: #000000;
  padding: 4px;
  line-height: 100%;
  margin-bottom: 6px;
}

.user-story .year {
  background: #334978;
  font-size: .8rem;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  line-height: normal;
color: #ffffff;
font-weight: 500;
display: flex;
align-items: center;
justify-content: center;
}

.project-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.project-row .year {
  background: #334978;
  font-size: .9rem;
}

ul.timeline > li.pink-100 .year {
  background: #EFDDF5;
}
ul.timeline > li.pink-200 .year {
  background:  #E2C3EF;
}
ul.timeline > li.pink-300 .year {
  background:  #D6A8E7;
}
ul.timeline > li.pink-400 .year {
  background:  #CA8DE1;
}
ul.timeline > li.pink-500 .year {
  background:  #A36EB6;
}

ul.timeline > li.pink-100 {
  color: #EFDDF5;
}

ul.timeline > li.pink-200 {
  color: #E2C3EF;
}

ul.timeline > li.pink-300 {
  color: #D6A8E7;
}

ul.timeline > li.pink-400 {
  color:  #CA8DE1;
}
ul.timeline > li.pink-500 {
  color:  #A36EB6;
}

ul.timeline > li.pink-100:before {
  border-color: #EFDDF5;
}

ul.timeline > li.pink-200:before {
  border-color: #E2C3EF;
}

ul.timeline > li.pink-300:before {
  border-color: #D6A8E7;
}

ul.timeline > li.pink-400:before {
  border-color: #CA8DE1;
}

ul.timeline > li.pink-500:before {
  border-color: #A36EB6;
}


ul.timeline>li:before {
  content: ' ';
  background-color: rgb(63, 36, 73);
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #CA8DE1;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
  margin-top: 2px;
}

/*-------------------------------
what section 
--------------------------------*/
#what h1 {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  color: #c8aeff;
}

#what h2 {
  color: #C4AEF7;
  /* Blue color for headings to pop */
  text-align: center !important;
  /* Center-align the section heading */
  margin: 30px;
  /* Spacing below the heading */

}

#what h3 {
  color: #C4AEF7;
  text-align: left;
  /* Center-align the section heading */
  margin-bottom: 20px;
  /* Spacing below the heading */
}

#what h4 {
  color: #C4AEF7;
  margin-bottom: 0px;
}

#what .what-icon {
  text-align: center;
}

.passion-text {
  font-size: 1.2rem;
  /* Adjusting font size for readability */
  color: #ffffff;
  /* Bright white for passion text */
  margin-bottom: 30px;
  /* Spacing below the text */
  text-align: left;
  /* Aligning the text to the left */
}

.impact-statistic {
  font-size: 2rem;
  /* Larger font size for impact statistics */
  color: #B394F4;
  /* Brighter blue for emphasis */
  font-weight: bold;
  margin-right: 10px;
  /* Space between statistic and context */
}

.impact-context {
  font-size: 1rem;
  color: #fff;
  /* Softer white for context */
  display: inline;
  /* Inline display to align with statistics */
  text-align: left;
  font-family: "Inter", sans-serif;
}

.gallery-step .card-text {
font-size: 1rem;
  color: #fff;
  /* Softer white for context */
  display: inline;
  /* Inline display to align with statistics */
  text-align: left;
  font-family: "Inter", sans-serif;
}
.gallery-step .card-text span {
font-size: 1.5rem;
font-weight: 600;
  color: #4a90e2;
  /* Softer white for context */
  display: inline;
  /* Inline display to align with statistics */
  text-align: left;
  font-family: "Inter", sans-serif;
}

#work h1 {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  margin-bottom: 40px;
  color: #739dbe;
}

p.card-text {
  font-size: 1rem;
  color: #Ffffff;
  font-family: "Inter", sans-serif;
  margin-bottom: 8px;
  font-weight: 400;
  line-height: 160%;
}

#home h2 {
  text-align: left;
  margin: 0px
}

.card.impact-card>div:nth-child(2) {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.container-fluid .card-body {
  background-color: #171123;
}

.tm-hero-text {
  font-family: "Inter", sans-serif;
  font-size: 1.35rem;
  line-height: 160%;
  color: #CDCED4;
  letter-spacing: .25px;
}

/* Ensure sections have enough padding at the top */
.section {
  padding-top: 50px;
  /* This should match or exceed the height of your fixed header */
}
div.tee-logo {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    color: #D6A8E7;
    margin-bottom: 0px;
    font-size: 1.25rem; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px; 
}
.tm-hero-text {
  margin-top: 20px;
  /* Provides a little space between the text and image on mobile */
}

a.nav-link  {
  color:#4a90e2;
  font-weight: 600;
}

#redesigns-tab, #new-designs-tab {
background-color: #1a2335;
border-color: #1a2335;
width: 100%;
text-align: center;
outline: none;
}


.nav-tabs .nav-link.active {
  background-color: #4a90e2!important;
  border-color: #4a90e2!important;
  width: 100%;
  text-align: center;
  color: #1a2335!important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs {
  border-color:  #131a29;
  border-width: 2px;
  box-sizing: border-box;
}
.gallery-thumbnail {
  border: 1px solid #D6A8E7;
  margin-bottom: 15px;
}

.gallery-image {
  width: 100%;
  cursor: pointer;
}
.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.lightbox-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
.lightbox .close {
  position: absolute;
  top: 30px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
}
.lightbox .close:hover,
.lightbox .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.user-story {
  background-color:  #040d20;
  padding: 30px;
  box-sizing: border-box;
   border: 2px solid  #131a29;
   border-top: 0px;
   box-sizing: border-box;
}
.user-story .step {
  margin-bottom: 10px;
}

.step {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 160%;
  color: #4a90e2;
  letter-spacing: .25px;
  font-weight: 600;

}
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #09101b;
  border: 2px solid #1E2D4C;
  color: #D0E7FB;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  gap: 22px; 
}

.img-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 16px;
}
.user-story {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 12px;
}
#work h3 {
  color: #4a90e2;
}

/* div.container-gallery {
  margin-top: 40px;
} */

/* div.gallery-step.content img {
  width: 22px;
}

div.gallery-step.content.save img {
  width: 16px;
} */

.gallery-step {
display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 160%;
    color: #6faef7;
    font-weight: 500;
    gap: 10px;
}
.gallery-step i::before {
  color: #334978;
}
div.gallery-step.content {
  padding-bottom: 10px;
  border-bottom: 1px solid #6faef74f;
}


.container-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
}


/* Additional styles for responsiveness */
@media (max-width: 768px) {
  .section {
    padding-top: 60px;
    /* Adjust if your header height changes on smaller screens */
  }

  .order-1 {
    order: 1;
    /* Image on top */
  }

  .order-2 {
    order: 2;
    /* Text follows the image */
  }

  .modal-dialog {
    height: 70vw;
    width: auto !important;
    margin: 30px auto;
  }

  .modal-content {
    width: 100%;
    height: auto !important;
  }
}


/*---------------------------*/
/* section {
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}
.nav-dots {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.nav-dots a {
  display: block;
  width: 20px;
  height: 20px;
  margin: 15px;
  border-radius: 50%;
  background-color: rgb(168, 168, 168);
  border: 3px solid #535353;
  text-indent: -9999px;
}
.nav-dots a.active {
  background-color: #B394F4;
  border: 3px solid #24173d;
} */